body{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
    li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: rgb(0,71,48);
  }


h1{
    background-color:rgb(0,71,48);
    color: rgb(255,255,255);
    padding: 20px;
}

.csl-entry{

    padding:10px;
    
}

.csl-entry:nth-child(even){
  background-color: rgb(240, 240, 240);
}

.csl-left-margin{
    float:left;
    margin-right:20px;
    font-weight:bold;
}

.csl-right-inline{
    margin-left: 40px;
}

.doi{
    margin-left:40px;
}

.credit {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
}
